APP_ENV=local
RPA_QUEUES=FL_WHL_SI
RABBITMQ_HOST=192.168.60.106
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VIRTUAL_HOST=/
RABBITMQ_DEAD_LETTER_EXCHANGE=dlx_exchange
RABBITMQ_DEAD_LETTER_ROUTING_KEY=dlx_routing_key
BROWSER_PORT_START=9000
BROWSER_PORT_END=9200
DOWNLOAD_DIR=runtime/downloads
BROWSER_USER_DATA_DIR=runtime/browser_profiles
ENABLE_RECORD=false
ENABLE_BROWSER=false
