APP_ENV=local
RPA_QUEUES=FL_WHL_SI,FL_WHL_VGM,FL_ZIM_SI,FL_ZIM_VGM
RABBITMQ_HOST=192.168.60.106
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VIRTUAL_HOST=/
RABBITMQ_DEAD_LETTER_EXCHANGE=dlx_exchange
RABBITMQ_DEAD_LETTER_ROUTING_KEY=dlx_routing_key
RABBITMQ_QUEUE_DURABLE=true
RABBITMQ_QUEUE_PASSIVE=false
RABBITMQ_NO_ACK=false
BROWSER_PORT_START=9000
BROWSER_PORT_END=9200
DOWNLOAD_DIR=runtime/downloads
BROWSER_USER_DATA_DIR=runtime/browser_profiles
ENABLE_RECORD=false
ENABLE_BROWSER=true
ENABLE_REMOTE_KILL_TASK=false
NACOS_ENABLED=true
NACOS_IP=106.14.95.61
NACOS_SERVER_ADDRESSES=106.14.95.61
NACOS_NAMESPACE=9835862f-b9f7-4f9d-aab1-6c63602d49a6
NACOS_GROUP=DEFAULT_GROUP
NACOS_ENV_DATA_ID=
NACOS_OVERRIDE_ENV=true
NACOS_USERNAME=
NACOS_PASSWORD=
